
# HTID:16811877: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 1
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:16811877:

# HTID:17186973: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
Redirect 301 /invite https://discord.com/oauth2/authorize?client_id=774809540469850182&permissions=8&scope=bot
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:17186973:

# HTID:17243908: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
Redirect 301 /server https://discord.com/invite/zbyb8tu
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:17243908:
